body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#front0 {
  position: relative;
  text-align: center;
  color: white;
}

#front1 {
  position: relative;
  top:85vh;
  text-align: center;
}

#back_clouds {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  max-width:100%;
  object-fit: cover;
  z-index: -2;
  position: absolute;
  }

#back_cph {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  max-width:100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  }

#front_logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      top: 35vh;
      width: 300px;
      position: relative;
    }

#front0_text {
  text-align: center;
  position: absolute;
  top: 60vh;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

.text_box {
  color: black;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 20px;
}


#back_forest {
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  max-width:100%;
  object-fit: cover;
  z-index: -1;
  position: absolute;
  }

  #front1_text {
    text-align: center;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
  }


#about_text {
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    line-height: 200%;
    font-size: 18px;
    font-weight: 600;
    min-width: 400px;
  }


  #fb_icon {
    position: fixed;
    z-index: 0;
    bottom: 20px;
    right: 65px;
    width: 40px;
    }

  #linkedin_icon {
      position: fixed;
      z-index: 0;
      bottom: 20px;
      right: 17px;
      width: 37px;
      }
